# Archivos temporales y de compilación de .NET
[Dd]ebug/
[Rr]elease/
x64/
x86/
bincode/
bin/
obj/

# Archivos de configuración de Visual Studio y VS Code
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Base de datos local (evita que se rompa la subida)
*.db
*.db-journal
*.db-wal